.preview-markdown {
  max-height: 440px;
  overflow: auto;
}

::ng-deep {
  code {
    color: #FFFFFF !important;
    border-radius: 2px;
    padding: 2px 4px;
  }
  pre {
    background: #606060 !important;
  }
}

