<nz-layout>
  <nz-header class="header">
    <div class="headerContainer">
      <div class="logo">
        <img src="../assets/img/logo.svg">
        <h1>Issue Helper</h1>
      </div>
      <div class="">
        <button nz-button [nzSize]="'small'" nzType="default" (click)="changeLanguage()">
          {{LANGUAGE === 'zh' ? 'English' : '中文'}}
        </button>
      </div>
    </div>
  </nz-header>
  <nz-content class="content">
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer class="footer">
    Inspired by <a href="https://new-issue.vuejs.org/" target="_blank">Vue Issue Helper</a>·<a
    href="https://github.com/NG-ZORRO/issue-helper">Source Code</a>
  </nz-footer>
</nz-layout>