<div class="page-wrapper">
  <header id="header" class="clearfix">
    <div nz-row>
      <div nz-col nzSpan="18" nzOffset="3">
        <a id="logo" href>
          <img alt="logo" src="./assets/img/logo.svg">
          <span>Issue Helper</span>
        </a>
        <button id="lang" nz-button [nzType]="'primary'" [nzGhost]="true" style="float: right;" (click)="changeLang()">
          <span>{{ lang =='en_US'?'中文':'English' }}</span>
        </button>
      </div>
    </div>
  </header>
</div>
<div class="main-wrapper">
  <div nz-row>
    <div nz-col class="main-container" nzSpan="16" nzOffset="4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<footer id="footer">
  <div class="footer-desc">
    Inspired by <a href="https://new-issue.vuejs.org/" target="_blank">Vue Issue Helper</a> & <a
    href="https://github.com/ant-design/antd-issue-helper" target="_blank">Antd Issue Helper</a> · <a
    href="https://github.com/NG-ZORRO/issue-helper">Source Code</a>
  </div>
</footer>
