:host ::ng-deep .paragraph h5 {
  font-size: 16px
}

:host ::ng-deep .paragraph h2 {
  margin-bottom: 10px;
}


:host ::ng-deep .paragraph p {
  margin-bottom: 15px;
}

:host ::ng-deep .paragraph ol, :host ::ng-deep .paragraph ul {
  padding: 0 15px 15px;
  margin-left: 15px
}

:host ::ng-deep .paragraph ul {
  list-style-type: disc
}

:host ::ng-deep .paragraph ol {
  list-style-type: decimal
}

:host ::ng-deep ol, ul {
  list-style: none;
}

:host ::ng-deep pre {
  background-color: #f6f8fa;
}

:host ::ng-deep .preview h2 {
  color: #666666;
}
